body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1231px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6764 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:6px;
  width:1224px;
  height:84px;
}
#u6765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:42px;
}
#u6765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u6765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:42px;
}
#u6766 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:0px;
  width:130px;
  height:42px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u6766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:42px;
}
#u6767 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:0px;
  width:217px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u6767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:42px;
}
#u6768 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:0px;
  width:389px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u6768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:42px;
}
#u6769 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:0px;
  width:389px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u6769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:42px;
}
#u6770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:99px;
  height:42px;
  display:flex;
  font-size:12px;
  color:#464A5E;
  text-align:left;
}
#u6770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:42px;
}
#u6771 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:42px;
  width:130px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#464A5E;
  text-align:left;
}
#u6771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:42px;
}
#u6772 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:42px;
  width:217px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
  text-align:left;
}
#u6772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:42px;
}
#u6773 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:42px;
  width:389px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#464A5E;
  text-align:left;
}
#u6773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:42px;
}
#u6774 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:42px;
  width:389px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#464A5E;
  text-align:left;
}
#u6774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
