body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1270px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6496 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:545px;
  width:474px;
  height:99px;
  display:flex;
}
#u6496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6497 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:409px;
  width:806px;
  height:99px;
  display:flex;
}
#u6497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u6498 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:69px;
  width:177px;
  height:54px;
  display:flex;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u6498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u6499 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:185px;
  width:160px;
  height:46px;
  display:flex;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u6499 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 153, 0, 0.768627450980392);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u6500 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:307px;
  width:160px;
  height:46px;
  display:flex;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u6500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 153, 0, 0.768627450980392);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u6501 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:307px;
  width:179px;
  height:46px;
  display:flex;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u6501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 153, 0, 0.768627450980392);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6502 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:39px;
  width:160px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:46px;
  background:inherit;
  background-color:rgba(51, 153, 255, 0.768627450980392);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6503 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:110px;
  width:160px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 153, 0, 0.768627450980392);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u6504 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:435px;
  width:160px;
  height:46px;
  display:flex;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u6504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.768627450980392);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u6505 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:435px;
  width:185px;
  height:46px;
  display:flex;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u6505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.768627450980392);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u6506 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:571px;
  width:216px;
  height:46px;
  display:flex;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u6506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 153, 0, 0.768627450980392);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u6507 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:435px;
  width:160px;
  height:46px;
  display:flex;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u6507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.768627450980392);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u6508 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:571px;
  width:160px;
  height:46px;
  display:flex;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u6508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u6509 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:571px;
  width:160px;
  height:46px;
  display:flex;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u6509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.768627450980392);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u6510 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:435px;
  width:160px;
  height:46px;
  display:flex;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u6510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6511 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:123px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6511_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:67px;
}
#u6511_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u6511_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:49px;
  width:18px;
  height:19px;
}
#u6511_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6512 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:231px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6512_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:43px;
}
#u6512_seg1 {
  border-width:0px;
  position:absolute;
  left:-150px;
  top:33px;
  width:155px;
  height:10px;
}
#u6512_seg2 {
  border-width:0px;
  position:absolute;
  left:-150px;
  top:33px;
  width:10px;
  height:43px;
}
#u6512_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u6512_seg4 {
  border-width:0px;
  position:absolute;
  left:-154px;
  top:63px;
  width:18px;
  height:19px;
}
#u6512_text {
  border-width:0px;
  position:absolute;
  left:-123px;
  top:30px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6513 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:231px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6513_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:44px;
}
#u6513_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:34px;
  width:197px;
  height:10px;
}
#u6513_seg2 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:34px;
  width:10px;
  height:42px;
}
#u6513_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u6513_seg4 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:63px;
  width:18px;
  height:19px;
}
#u6513_text {
  border-width:0px;
  position:absolute;
  left:42px;
  top:31px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6514 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:353px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6514_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:33px;
}
#u6514_seg1 {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:23px;
  width:81px;
  height:10px;
}
#u6514_seg2 {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:23px;
  width:10px;
  height:33px;
}
#u6514_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u6514_seg4 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:43px;
  width:18px;
  height:19px;
}
#u6514_text {
  border-width:0px;
  position:absolute;
  left:-85px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6515 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:353px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6515_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:36px;
}
#u6515_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:26px;
  width:123px;
  height:10px;
}
#u6515_seg2 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:26px;
  width:10px;
  height:56px;
}
#u6515_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u6515_seg4 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:69px;
  width:18px;
  height:19px;
}
#u6515_text {
  border-width:0px;
  position:absolute;
  left:17px;
  top:23px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6516 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:353px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6516_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:37px;
}
#u6516_seg1 {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:27px;
  width:108px;
  height:10px;
}
#u6516_seg2 {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:27px;
  width:10px;
  height:55px;
}
#u6516_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u6516_seg4 {
  border-width:0px;
  position:absolute;
  left:-107px;
  top:69px;
  width:18px;
  height:19px;
}
#u6516_text {
  border-width:0px;
  position:absolute;
  left:-108px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6517 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:481px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6517_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:52px;
}
#u6517_seg1 {
  border-width:0px;
  position:absolute;
  left:-99px;
  top:42px;
  width:104px;
  height:10px;
}
#u6517_seg2 {
  border-width:0px;
  position:absolute;
  left:-99px;
  top:42px;
  width:10px;
  height:49px;
}
#u6517_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u6517_seg4 {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:77px;
  width:18px;
  height:19px;
}
#u6517_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:38px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6518 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:481px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6518_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:69px;
}
#u6518_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u6518_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:51px;
  width:18px;
  height:19px;
}
#u6518_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.768627450980392);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u6519 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:435px;
  width:216px;
  height:46px;
  display:flex;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u6519 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6520 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:481px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6520_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:95px;
}
#u6520_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u6520_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:77px;
  width:18px;
  height:19px;
}
#u6520_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:37px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u6521 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:435px;
  width:160px;
  height:46px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u6521 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6522 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:353px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6522_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:37px;
}
#u6522_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:27px;
  width:349px;
  height:10px;
}
#u6522_seg2 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:27px;
  width:10px;
  height:55px;
}
#u6522_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u6522_seg4 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:69px;
  width:18px;
  height:19px;
}
#u6522_text {
  border-width:0px;
  position:absolute;
  left:128px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
